body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica","Arial",sans-serif;
    background-color: #000;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: inherit;
}

header {
    /*box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.1), 0 1px 5px 0 rgba(255, 255, 255,.12);*/
    border-bottom: solid 1px #555;
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;
}

header * {
    pointer-events: none;
}

header img {
    height: 70px;
}

header h1 {
    font-size: 35px;
    font-weight: normal;
    line-height: 35px;
    margin: 0px 0px 0px 20px;
    margin-top: calc( ( 70px - 35px ) / 2);
    width: 100%;
}

header i {
    text-align: right;
    font-size: 40px !important;
    margin-top: calc( ( 70px - 40px ) / 2);
}

main {
    height: 100%;
    overflow: auto;
	text-align: center;
}

main h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    text-align: center;
    font-size: 150px;
    margin: 70px 0px 30px 0px;
}

main h1#donger {
    font-size: 60px;
    margin: 15px 0px 15px 0px;
}

main p {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    text-align: center;
}

footer {
    /*box-shadow: 0 -2px 2px 0 rgba(255, 255, 255, 0.1), 0 -1px 5px 0 rgba(255, 255, 255,.12);*/
    border-top: solid 1px #555;
    margin-top: auto;
    display: table-row !important;
}

footer > div {
    display: flex;
    flex-direction: row;
}

footer > div div {
    width: 100%;
    padding: 15px 0px;
    cursor: pointer;
}

footer > div div::before {
    content: "";
    position: absolute;
    right: 0;
    top: 17.5%;
    height: 65%;
    width: 1px;
    border-right: 1px solid #fff2;
}

footer > div div:last-child::before {
    border: none;
}

footer i {
    text-align: center;
    width: 100%;
}

.hidden {
    display: none;
}

.mono {
    font-family: 'Roboto Mono', monospace;
}

@keyframes clickeffect {
    from {
        opacity: 0.7;
        transform: scale(0);
    }
    to {
        opacity: 0;
        transform: scale(10);
    }
}

.effect {
    margin: -100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    transform: scale(0);
    transform: translateZ(0);
    pointer-events: none;
    animation: clickeffect 1.5s ease;
}

.nexus {
    position: relative;
    overflow: hidden;
}
