{% extends '_base.html' %}

{% set reload = false %}

{%- block title -%}
404 - {{name}}
{%- endblock -%}

{%- block rpreDescription -%}
Not found ¯\_(ツ)_/¯
{%- endblock -%}

{% block errorCode %}404{% endblock %}
{% block description %}
<script>
    var names_dongers_dict = {{dongers}};
    var donger = names_dongers_dict[document.location.hostname];
    if (undefined != donger) document.write("But I got a<h1 id=donger>" + donger + "</h1>for you!");
    else document.write("Not found");
</script>
{% endblock %}
