{% if reload == None %}
{% set reload = True %}
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{name}}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="//{{domain}}/static/favicon.png?{{staticFileHashes['static/favicon.png']}}" type="image/png">
        <link rel="shortcut icon" href="//{{domain}}/static/favicon.svg?{{staticFileHashes['static/favicon.svg']}}" type="image/svg+xml">
        <meta name=theme-color content=#ffffff>
        <meta property=og:title content="{{self.title()}}">
        {% if self.rpreDescription %}
        <meta name=description content="{% block rpreDescription %}{% endblock %}">
        <meta property=og:description content="{{self.rpreDescription()}}">
        {% endif %}
        <meta property=og:image content="{% block rprevImg %}/static/img/favicon.svg{% endblock %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//{{domain}}/static/index.css?{{staticFileHashes['static/index.css']}}">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery.initialize@1.2.0/jquery.initialize.min.js"></script>
        <script src="//{{domain}}/static/index.js?{{staticFileHashes['static/index.js']}}"></script>
        <script>
            startReloadTester();
        </script>
    </head>
    <body>
        <a href="{{homeUrl}}">
            <header class="nexus">
                <img src="//{{domain}}/static/header.svg?{{staticFileHashes['static/header.svg']}}"/>
                <h1>{{name}}</h1>
                <i class="material-icons">home</i>
            </header>
        </a>
        <main>
            {% block content %}
            <h1>{% block errorCode %}{% endblock %}</h1>
            <p>{% block description %}{% endblock %}</p>
            {% endblock %}
            {% if copyrights %} {# TODO: Needed ? #}
            {% for copyright in copyrights %}
            {{copyright}}
            {% endfor %}
            {% endif %}
        </main>
        <footer>
            <div>
                <div id="backButton" class="nexus">
                    <i class="material-icons">arrow_back</i>
                </div>
                {% if reload %}
                <div id="reloadButton" class="nexus">
                    <i class="material-icons">autorenew</i>
                </div>
                {% endif %}
            </div>
        </footer>
    </body>
</html>
